<div id="app">
  <p>Message: {{ message }}</p>
  <p v-once>This will never change: {{ message }}</p>
  <p>Using mustaches: {{ rawHtml }}</p>
  <p>Using v-html directive: <span v-html="rawHtml"></span></p>
  <div v-bind:id="dynamicId"></div>
  <button v-bind:disabled="isButtonDisabled">Button</button>
  <p v-if="seen">Now you see me</p>
  <a v-bind:href="url">リンク</a>
</div>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>
<div id="app-6">
  <p>{{ message }} ({{ message.length }}文字)</p>
  <input v-model="message">
</div>
<div id="app-7">
  <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>
<div id="example">
  <p>Original message: "{{ message }}"</p>
  <p>Computed reversed message: "{{ reversedMessage }}"</p>
  <p>Date(更新されない!): "{{ now }}"</p>
  <p>Reversed message: "{{ reverseMessage() }}"</p>
</div>
<div id="demo1">{{ fullName }}</div>
<div id="demo2">{{ fullName }}</div>
<div id="watch-example">
  <p>
    Ask a yes/no question:
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>
<div id="class-bind-example">
  <div
    class="static"
    v-bind:class="{ active: isActive, 'text-danger': hasError }"
  >class</div>
  <div v-bind:class="classObject">classObject</div>
  <div v-bind:class="[{ active: isActive }, errorClass]">class_list</div>
  <my-component class="baz boo"></my-component>
  <my-component v-bind:class="{ active: isActive }"></my-component>
</div>
<div id="style-bind-example">
  <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">style</div>
  <div v-bind:style="styleObject">style</div>
  <div v-bind:style="[baseStyles, overridingStyles]">style</div>
  <div v-bind:style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">style</div>
</div>
<div id="rendering_example">
  <h1 v-if="awesome">Vue is awesome!</h1>
  <h1 v-else>Oh no 😢</h1>
  <template v-if="ok">
    <h1>Title</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
  </template>
  <div v-if="Math.random() > 0.5">
    Now you see me
  </div>
  <div v-else>
    Now you don't
  </div>
  <div v-if="type === 'A'">
    A
  </div>
  <div v-else-if="type === 'B'">
    B
  </div>
  <div v-else-if="type === 'C'">
    C
  </div>
  <div v-else>
    Not A/B/C
  </div>
  <template v-if="loginType === 'username'">
    <label>Username</label>
    <input placeholder="Enter your username">
  </template>
  <template v-else>
    <label>Email</label>
    <input placeholder="Enter your email address">
  </template>
  <template v-if="loginType === 'username'">
    <label>Username</label>
    <input placeholder="Enter your username" key="username-input">
  </template>
  <template v-else>
    <label>Email</label>
    <input placeholder="Enter your email address" key="email-input">
  </template>
  <button v-on:click="toggleLoginType">Toggle login type</button>
  <h1 v-show="ok">Hello!</h1>
</div>
<ul id="example-1">
  <li v-for="item in items">
    {{ item.message }}
  </li>
</ul>
<ul id="example-2">
  <li v-for="(item, index) of items">
    {{ parentMessage }} - {{ index }} - {{ item.message }}
  </li>
</ul>
<ul id="v-for-object">
  <li v-for="(value, name, index) in object">
    {{ index }}. {{ name }}: {{ value }}
  </li>
</ul>
<div id="user_example">
  {{ userProfile.name }} ({{ userProfile.age }}歳) {{ userProfile.favoriteColor }}色が好き {{ userProfile.height }}cm {{ userProfile.weight }}kg
</div>
<div id="sort_example">
  <li v-for="n in evenNumbers">{{ n }}</li>
  <li v-for="n in even(numbers)">{{ n }}</li>
  <div>
    <span v-for="n in 10">{{ n }} </span>
  </div>
  <ul>
    <template v-for="item in items">
      <li>{{ item.msg }}</li>
      <li class="divider" role="presentation"></li>
    </template>
  </ul>
  <ul v-if="todos.length">
    <li v-for="todo in todos">
      {{ todo }}
    </li>
  </ul>
  <p v-else>No todos left!</p>
</div>
<div id="todo-list-example">
  <form v-on:submit.prevent="addNewTodo">
    <label for="new-todo"></label>
    <input
      v-model="newTodoText"
      id="new-todo"
      placeholder="E.g. Feed the cat"
    >
    <button>Add</button>
  </form>
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>
<div id="example-3">
  <button v-on:click="counter += 1">Add</button>
  <p>The button above has been clicked {{ counter }} times.</p>
</div>
<div id="example-4">
  <button v-on:click="greet">Greet</button>
</div>
<div id="example-5">
  <button v-on:click="say('hi')">Say hi</button>
  <button v-on:click="say('what')">Say what</button>
  <button v-on:click="warn('Form cannot be submitted yet.', $event)">
    Submit
  </button>
</div>
<div id="form_example">
  <input v-model.lazy="message" placeholder="edit me">
  <p>Message is: {{ message }}</p>
  <span>Multiline message is:</span>
  <p style="white-space: pre-line;">{{ message }}</p>
  <br>
  <textarea v-model.trim="message" placeholder="add multiple lines"></textarea>
  <br>
  <input type="checkbox" id="checkbox" v-model="checked">
  <label for="checkbox">{{ checked }}</label>
  <br>
  <input type="radio" id="one" value="a" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="b" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>
  <br>
  <select v-model="selected">
    <option v-for="option in options" v-bind:value="option.value">
      {{ option.text }}
    </option>
  </select>
  <span>Selected: {{ selected }}</span>
  <br>
  <input
    type="checkbox"
    v-model="toggle"
    true-value="yes"
    false-value="no"
  >{{ toggle }}
  <br>
  <input v-model.number="age" type="number">age: {{ age }}
</div>
<div id="example-6">
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ checkedNames }}</span>
</div>
<div id="components-demo">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>
<div id="blog-post-demo">
  <blog-post
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:post="post"
  ></blog-post>
</div>
<div id="blog-posts-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <blog-post
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="onEnlargeText"
    ></blog-post>
  </div>
  <custom-input v-model="searchText"></custom-input>
  <alert-box>
    Something bad happened.
  </alert-box>
</div>
<div id="dynamic-component-demo" class="demo">
  <button
    v-for="tab in tabs"
    v-bind:key="tab"
    v-bind:class="['tab-button', { active: currentTab === tab }]"
    v-on:click="currentTab = tab"
  >{{ tab }}</button>
  <component
    v-bind:is="currentTabComponent"
    class="tab"
  ></component>
</div>
<div id="local-component-example">
  <component-b></component-b>
  <base-input></base-input>
  <base-button></base-button>
</div>
<div id="props-example">
  <props-component
    v-for="post in posts"
    v-bind="post"
    v-bind:key="post.id"
  ></props-component>
  <props-component
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:title="post.title + ' by ' + post.author.name"
    v-bind:likes="42"
    v-bind:is-published="false"
    v-bind:comment-ids="[123, 124, 125]"
    v-bind:author="{ name: 'Veronica', company: 'Veridian Dynamics' }"
  ></props-component>
</div>
<div id="bootstrap-example">
  <label>年月日</label>
  <bootstrap-date-input data-date-picker="activated" class="date-picker-theme-dark"></bootstrap-date-input>
  <base-input label="ユーザーネーム" v-model="username" required></base-input>
</div>
<div id="event-example">
  <span>Loving Vue</span>
  <base-checkbox v-model="lovingVue"></base-checkbox><br>
  <base-input
    label="username"
    v-model="username"
    v-on:focus="onFocus"
  ></base-input>
</div>

<script src="bundle.js"></script>
